<%=@transport_caption.caption%>

<%= form_for(@transport_image) do |f| %>
  <% if @transport_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport_image.errors.count, "error") %> prohibited this transport_image from being saved:</h2>

      <ul>
      <% @transport_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input name="transport_image[transport_caption_id]" type="hidden" value="<%=@transport_caption.id%>">

  <div class="field">
    <%= f.label :path %><br>
    <%= f.file_field :path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
