<br>
<%TransportCaption.all.each do |transport_caption|%>
  <h2><%=transport_caption.caption%></h2>
  <a href="/transport_images/new?transport_caption_id=<%=transport_caption.id%>">Agregar imagen</a>
  <%transport_caption.transport_images.each do |transport_image|%>
    <br>
    <img src="<%= transport_image.stickered_path %>"/>
    <br>
    Por: <a href="/profile/<%=transport_image.user.id%>"><%=transport_image.user.email%></a>
  <%end%>
<%end%>
